<!--
 *
 *
 * @author Josh Lobe
 * http://ultimatetinymcepro.com
 */
 -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="includes/codemirror/codemirror.js"></script>
<script type="text/javascript" src="includes/batched_scripts.js"></script>
<script type="text/javascript" src="includes/codemagic.js"></script>

<link rel="stylesheet" href="includes/codemagic.css" />
<link rel="stylesheet" href="includes/codemirror/codemirror.css" />

<div id="body">

	<div id="wrapline">
        <input type="checkbox" name="wraptext" id="wraptext" checked="checked" /> Wrap text 
        <input type="checkbox" name="autocompletion" id="autocompletion" checked="checked" /> Auto completion 
        <input type="checkbox" name="highlighting" id="highlighting" checked="checked" /> Highlight Code
    </div>
    <div style="clear: both;"></div>

	 <div class="editor-buttons">
        <a id="undo" class="disabled" title="Undo"><img src="images/icons/undo.png" alt="Undo" /> Undo</a>
        <a id="redo" class="disabled" title="Redo"><img src="images/icons/redo.png" alt="Redo" /> Redo</a>
        <a id="search_replace" title="Search and Replace"><img src="images/icons/lens.png" alt="Search and Replace" /> Search/Replace</a>
        <a id="re_beautify" title="Format HTML Code"><img src="images/icons/file.png" alt="Format HTML Code" /> Reformat</a>
    </div>  
    <div style="clear:both;"></div>
    
    <div id="search_panel">
    	<span id="search_query"><label for="query">Search</label>: <input id="query" type="text" class="form-control" /></span>
        <span id="replace_query"><label for="replace">Replace</label>: <input id="replace" type="text"  class="form-control" /></span>
        <span id="search_button"><input id="search_code" type="submit" value="Search" class="btn-default" /></span>
        <span id="replace_button"><input id="replace_code" type="submit" value="Replace" class="btn-default" /></span>
    </div>
    <div style="clear:both;"></div>

	<textarea name="htmlSource" id="htmlSource" rows="25" cols="100" class="htmlSource"></textarea>
	
    <div class="mceActionPanel">
        <button id="codemagic_cancel" class="btn-default">Cancel</button> <button id="codemagic_insert" class="btn-primary">Insert and Close</button>
    </div>
</div>